*
{
    margin: 0%;
    padding: 0%;
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(nati.png);
    height: 100%;
    background-size: cover;
    background-position: center;

}
.main-nav{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.main-nav li{
    display: inline-block;
    margin: 10px 5px;
}

.main-nav li a{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "roboto", sans-serif;
    font-size: 15px;
    
}
a{
border: 1px solid white;}
.main-nav li a:hover{
    border: 1px solid white;
}
.logo img{
    width: 150px;
    height: auto;
    float: left;
}
body{
    font-family: monospace;
}
.row{
    max-width: 1200px;
    margin: auto;
}
.hero{
    position: absolute;
    width: 1200px;
    margin-left: 0px;
    margin-top: 0px;
    
}
.hero h1{
    color: white;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-top: 275px;
}
.button{
    margin-top: 30px;
    margin-left: 440px;
}
.btn{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
}
.btn-one{
    background-color: darkorange;
    font-family: "roboto", sans-serif;
}
.btn-two{
    font-family: "roboto",sans-serif;
}
.btn-two:hover{
    background-color: darkorange;
    transition: all 0.55 ease-in;
}
.juntle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    text-align: center;
}
.boss h1{
    font-family: baloo;
    margin: 0%;
    font-size: 45px;
    color: black;
}
.boss p1{
    font-size: 16px;
margin-right: 15px;
width: 150px;
}
.boss p2{
    font-size: 16px;
margin-right: 15px;
width: 150px;
}

.wonderful{

    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(35.jpeg);
    height: 100%;
    background-size: cover;
    background-position: center;
}
.boss span{
    color:orange;
}
.eye img{
    width: 500px;
    height: 400px;
}
.gang{
    background-color: palegreen;
}
.gang-one p1{
    font-size: 16px;
margin-right: 15px;
width: 150px

} 
.gang-one{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    text-align: center;
}
.row-one{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(natu.jpg);
}

.eye-one{
    background-image: url(./natu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.eye-one h3{
    font-family: baloo;
    margin: 0%;
    font-size: 30px;
    color: black;
    font-size: 25px;}
.eye-one p3{
    font-size: 17px;
margin-right: 15px;
width: 800px;
}
.sun{
    background-image: url(babuji.jpg);
}
.mood p2{
    font-size: 16px;
margin-right: 15px;
width: 150px 
}
.mood img{
    width: auto;
    height: 80%;
}
.best{
    background-image: url(bella.jpg);
}
.ac{
    font-size: 17px;
    margin-right: 15px;
    width: 700px 
}
.BALL{
    background-image: url(back.jpg);
}
.BALL h2{
    font-family: baloo;
    margin: 0%;
    font-size: 35px;
    color: black;
    width: 950;
}
.BALL p{
    font-size: 17px;
margin-right: 15px;
width: 800px;
color: black;
}
.ball h2 span{ 
    color: chartreuse;
}
.c-nfo{
    color: #fff;
    max-width: 500px;
    line-height: 40px;
    padding-left: 50px;
    font-size: 7px;
}
.c-nfo i{
    margin-right: 20px;
    font-size: 25px;
}
